<!DOCTYPE html>
<html>
  <head>
    <title>Africal-Lipid-Calculator</title>
<title>Africal-Lipid-Calculator homepage</title>
<link rel="stylesheet" href="/static/index.css">
<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
<link rel="manifest" href="/static/images/site.webmanifest">
<link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <body style="background-image: url(/static/images/image5.jpg); background-repeat: no-repeat; background-size: cover;">
        <div class ="top">
            <div class="left" style="
                     position:relative; 
                     float:left;
                 ">
                <button style="border: hidden; background-color: #576f85; float: left; border-radius: 50%; margin-top: 5px; margin-left: 5px; aspect-ratio: auto; ">
                    <img src="/static/images/newlogo.png" alt="africalc logo" width="35" height="35" style=" text-align: right; width: 50px; height: 50px; border-radius: 50%; aspect-ratio: auto; ">
                </button>
                <h2 style="
            text-align: right;
        color: aqua;
        float: right;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 12px;
        ">Africal Lipid Calculator</h2>
            </div>
            <div class="right" style="
        float:right;
        ">
        <h1 style="margin-top: 20px; color: white; font-size: x-large; margin-right: 30px;">Welcome <%= name %> </h1>
                </button>
            </div>
        </div>
        <header class=" header" >
            <a href="#">
                <img src="/static/images/newlogo.png" alt="africalc logo">
            </a>
            <h1>Cholesterol Calculator</h1>

        </header>

    <h1>Cholesterol Calculator</h1>

    <form id="cholesterol-form" methods="POST">
      <label for="ldl">LDL Cholesterol:</label>
      <input
        type="number"
        id="ldl"
        placeholder="input must be in milligram"
        required
      /><br />

      <label for="hdl">HDL Cholesterol:</label>
      <input
        type="number"
        id="hdl"
        placeholder="input must be in milligram"
        required
      /><br />

      <label for="triglycerides">Triglycerides:</label>
      <input
        type="number"
        id="triglycerides"
        placeholder="input must be in milligram"
        required
      /><br />

      <button type="submit">Calculate</button>
    </form>

    <div id="result" style="display: none">
      <h2>Results</h2>
      <p>Total Cholesterol: <span id="total-cholesterol"></span></p>
      <p>LDL Cholesterol: <span id="ldl-cholesterol"></span></p>
      <p>Cholesterol Ratio: <span id="cholesterol-ratio"></span></p>
    </div>

    <script src="/static/cal.js"></script>
  </body>
</html>
