<!DOCTYPE html>
<html>
<head>
    <title>Africal-Lipid-Calculator homepage</title>
    <link rel="stylesheet" href="index.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
    <link rel="manifest" href="../images/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body style="background-image: url(../images/image5.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class ="top">
        <div class="left" style="
                 position:relative;
                 float:left;
             ">
            <nav class="menu">
                <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
                <label class="menu-open-button" for="menu-open">
                    <img src="../images/newlog.png" alt="africalc logo" width="55" height="55" style=" float: inherit; border-block-color: #fa980b; text-align: right; width: 4rem; height: 4rem; border-radius: 50%; aspect-ratio: auto; ">
                    <span class="menu-line menu-line-1"></span>
                    <span class="menu-line menu-line-2"></span>
                    <span class="menu-line menu-line-3"></span>
                </label>

                <a href="home.html" class="menu-item"> <i class="fa home-icon"><img _ngcontent-serverapp-c66="" alt="logo small" class="home--button__icon" src="../images/home2.png" width="55" height="55" style="border-radius: 50%"></i> </a>
                <a href="index.html" class="menu-item"> <i class="fa calculator-icon"><img _ngcontent-serverapp-c66="" alt="logo small" class="calculator--button__icon" src="../images/calculator.png" width="55" height="55" style="border-radius: 50%"></i> </a>
                <a href="blog.html" class="menu-item"> <i class="fa bloag-icon"><img _ngcontent-serverapp-c66="" alt="logo small" class="bloag--button__icon" src="../images/blog2.png" width="55" height="55" style="border-radius: 50%"></i> </a>
                <a href="mailto:contact@Africal-lipid-caluclator" class="menu-item"> <i class="fa contact-icon"><img _ngcontent-serverapp-c66="" alt="logo small" class="contact-button__icon" src="../images/contact2.jpg" width="55" height="55" style="border-radius: 50%"></i> </a>
                <a href="links.html" class="menu-item"> <i class="fa links-icon"><img _ngcontent-serverapp-c66="" alt="logo small" class="links-button__icon" src="../images/links.png" width="55" height="55" style="border-radius: 50%"></i> </a>
            </nav>
            <h2 style="
        text-align: right;
    color: #fe7a20 ;
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 12px;
    ">
                Africal Lipid Calculator
            </h2>
        </div>
        <div class="right" style="
    float:right;
    ">
        <a href="www.twitter.com" target="_blank">
           <img _ngcontent-serverapp-c66="" alt="logo small" class="social-button__icon" src="../images/twitter.png" width="35" height="35"> 
        </a>
        <a href="www.linkedin.com" target="_blank" style=" border: hidden; background-color: #576f85;">
                <img _ngcontent-serverapp-c66="" alt="logo small" class="social-button__icon" src="../images/linkedin.png" width="35" height="35" style=" width: 35px; aspect-ratio: auto 35 / 35; height: 35px; background-color: white; border-radius: 25%; margin-left: 5px; margin-right: 5px; margin-top: 15px;">
        </a>
        <a href="login.html" 
           target="popup" 
           onclick="window.open('login.html','popup','width=600,height=600'); return false;"
           style=" background-color: #0077b7; color: white; border: hidden; font-weight: bold; font-size: x-large; border-radius: 10%; margin-right: 15px; margin-bottom: 5px; margin-top: 0px; margin-left: 5px;">
                Log-in
        </a>
        </div>
    </div>
    <header class=" header">
        <a href="#">
            <img src="../images/newlogi.png" alt="africalc logo">
        </a>
        <h1>Well Come to africal cholesterol calculator</h1>

    </header>
    <div class="aboutcholesterol">
        <p>
          Cholesterol is a waxy substance found in your blood. Your body needs cholesterol to build healthy cells, but high levels of cholesterol can increase your risk of heart disease. 
          click <a href="blog.html" style="font-weight: bold; color: sandybrown; ">here</a> for more information. <br />   
          <br />  
          blood lipid level is measured from blood sample, and the commonly measured types are LDL, HDL, total Cholestero, LDL/HDL ratio and triglycerides, which help to predict the risk of cardiovascular disease like stroke, heart attack, etc..
          click <a href="blog.html"style="font-weight: bold; color: sandybrown;">here</a> for more information.          
        </p>
    </div>
    <div class="aboutus">
        <p>if you have any 3 of the lipid level measured our calculator can give you the rest information</p>
        <a href="login.html" 
           target="popup" 
           onclick="window.open('login.html','popup','width=600,height=600'); return false;">
        please log in to proceed
        </a> 
    </div>



    <div id="result" style="display: none">
        <h2>Results</h2>
        <p>Total Cholesterol: <span id="total-cholesterol"></span></p>
        <p>LDL Cholesterol: <span id="ldl-cholesterol"></span></p>
        <p>Cholesterol Ratio: <span id="cholesterol-ratio"></span></p>
    </div>

    <script src="/static/cal.js"></script>
</body>
</html>
