<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Description of the page less than 150 characters">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:700&display=swap" rel="stylesheet">
    <title>Africal-Lipid-Calculator homepage</title>
    <link rel="stylesheet" href="index.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
    <link rel="manifest" href="../images/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <style>
        img {
            max-width: 100%;
        }
    </style>
    <link rel="alternate stylesheet" type="text/css" href="narrow.css" title="narrow" />
    <link rel="alternate stylesheet" type="text/css" href="wide.css" title="wide" />
    <script src="dynamiclayout.js" type="text/javascript"></script>
</head>
<body>
    <div class="top">
        <div class="left" style="
                 position:relative;
                 float:left;
             ">
            <nav class="menu">
                <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
                <label class="menu-open-button" for="menu-open">
                    <img src="../images/newlog.png" alt="africalc logo" width="55" height="55" style=" float: inherit; border-block-color: #fa980b; text-align: right; width: 4rem; height: 4rem; border-radius: 50%; aspect-ratio: auto; ">
                    <span class="menu-line menu-line-1"></span>
                    <span class="menu-line menu-line-2"></span>
                    <span class="menu-line menu-line-3"></span>
                </label>

                <a href="home.html" class="menu-item"> <i class="fa home-icon"><img _ngcontent-serverapp-c66="" alt="logo small" class="home--button__icon" src="../images/home2.png" width="55" height="55" style="border-radius: 50%"></i> </a>
                <a href="index.html" class="menu-item"> <i class="fa calculator-icon"><img _ngcontent-serverapp-c66="" alt="logo small" class="calculator--button__icon" src="../images/calculator.png" width="55" height="55" style="border-radius: 50%"></i> </a>
                <a href="blog.html" class="menu-item"> <i class="fa bloag-icon"><img _ngcontent-serverapp-c66="" alt="logo small" class="bloag--button__icon" src="../images/blog2.png" width="55" height="55" style="border-radius: 50%"></i> </a>
                <a href="mailto:contact@Africal-lipid-caluclator" class="menu-item"> <i class="fa contact-icon"><img _ngcontent-serverapp-c66="" alt="logo small" class="contact-button__icon" src="../images/contact2.jpg" width="55" height="55" style="border-radius: 50%"></i> </a>
                <a href="links.html" class="menu-item"> <i class="fa links-icon"><img _ngcontent-serverapp-c66="" alt="logo small" class="links-button__icon" src="../images/links.png" width="55" height="55" style="border-radius: 50%"></i> </a>
            </nav>
            <h2 style="
        text-align: right;
    color: #fe7a20 ;
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 12px;
    ">
                Africal Lipid Calculator
            </h2>
        </div>
        <div class="right" style="
    float:right;
    ">
            <button style="border: hidden; background-color: #576f85; margin-top: 10px;">
                <img _ngcontent-serverapp-c66="" alt="logo small" class="social-button__icon" src="../images/twitter.png" width="35" height="35">
            </button>
            <button style=" border: hidden; background-color: #576f85;">
                <img _ngcontent-serverapp-c66="" alt="logo small" class="social-button__icon" src="../images/linkedin.png" width="35" height="35" style=" width: 35px; aspect-ratio: auto 35 / 35; height: 35px; background-color: white; border-radius: 25%; margin-left: 5px; margin-right: 5px; margin-top: 15px;">
            </button>
            <button style=" background-color: #0077b7; color: white; border: hidden; font-weight: bold; font-size: x-large; border-radius: 10%; margin-right: 15px; margin-bottom: 5px; margin-top: 0px; margin-left: 5px;">
                Log-in
            </button>
        </div>
    </div>
    <header class=" header">
        <a href="#">
            <img src="../images/newlogi.png" alt="africalc logo">
        </a>
        <h1>Cholesterol Calculator</h1>

    </header>

    <form class="cholesterol-form" id="cholesterol-form" methods="POST">
        <div class="ldl">
            <label for="ldl">LDL Cholesterol:</label>
            <input type="number"
                   id="ldl"
                   placeholder="input must be in milligram"
                   required /><br />
        </div>
        <div class="HDL">
            <label for="hdl">HDL Cholesterol:</label>
            <input type="number"
                   id="hdl"
                   placeholder="input must be in milligram"
                   required /><br />
        </div>

        <div class="Trigycerides">
            <label for="triglycerides">Triglycerides:</label>
            <input type="number"
                   id="triglycerides"
                   placeholder="input must be in milligram"
                   required /><br />
        </div>
        <button id="submit" type="submit"><b>Calculate</b></button>
    </form>

    <div class="result" id="result" style=" display: none; width: 40%; height: 265px; border: aliceblue; position: inherit; padding: 1em; margin: auto; padding-inline: 2em; background-image: url(../images/image2.jpg); background-repeat: no-repeat; background-size: cover; opacity: 0.9; color: #ffe2c4;  shape-rendering: auto; text-align: center; ">
        <h2 style="color:#ffe2c4; font-size:xx-large;">Results</h2>
        <p style="color:#ffe2c4; font-size:large;">Total Cholesterol: <span id="total-cholesterol"></span></pstyle="color:#ffe2c4;>
        <p style="color:#ffe2c4; font-size:large;">LDL Cholesterol: <span id="ldl-cholesterol"></span></p>
        <p style="color:#ffe2c4; font-size:large;">Cholesterol Ratio: <span id="cholesterol-ratio"></span></p>
    </div>


    <script src="../static/cal.js"></script>
</body>
</html>
