<!DOCTYPE html>
        <!-- Signup form for Farmplus application -->
        <html lang="en">
        <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Sign Up Form </title>
          <link href= "../static/login.css" rel="stylesheet" type="text/css" />
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        </head>
        <body>
                <div class="wrapper">
                <header>Sign up</header>
        <form action="/signup" method="POST" id="form">
         <div>
           <label for="name">Name</label>
           <input type="text" id="name" name="name"
           required>
         </div>
         <div>
          <label for="email">Email</label>
          <input type="email" id="email" name="email"
           required>
              </div>
              <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password"
                 required>
                    </div>
                    <input type="submit" value="Signup">
        </form>
        <p>Already have an account? <a href="/login">Login</a></p>
                </div>
        </body>
        </html>

        
